.block-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.inline-block {
    display: inline-flex;
}

.m-b-3em {
    margin-bottom: 3em;
}

.m-t-5em {
    margin-top: 5em;
}

.m-t-3em {
    margin-top: 3em;
}

.m-tb-5em {
    margin-top: 5em;
    margin-bottom: 5em;
}

.p-tb-3em {
    padding-top: 3em;
    padding-bottom: 3em;
}

.confirm-deletion {
    background-color: red;
}